
 .dronebookdropdown  {
    float: left;
    display:inline;
    padding-left: 8px;
    width:150px;
  }
  .downarrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    background: #0a73ca;
    background-image: none;
    border: 1px solid  #1E90FF;
    border-radius: 8px;
    
}
 /* Style the submit button */

.select {
    position: relative;
    display: block;
    width: 6em;
    height: 3em;
    line-height: 3;
    background:#1E90FF;
    overflow: hidden;
    border-radius: .25em;
    height: 24px;
    padding:10px
}
 
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}
 
select::-ms-expand {
    display: none;
}
 
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #1E90FF;
    pointer-events: none;
}
 
.select:hover::after {
    color: #fff;
}
.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
.navigation {
    padding: 21px;
    margin-left: 125px;

}
.navigationbutton {
    float: left;
    display:inline;
    margin-top: 50px;
    margin-left: 60px;
}
.selectdrone{
    float: left;
    
}
.form-select{
    padding: .3125rem 3rem .3125rem 1rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right 1rem center;
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d8e2ef;
    color: #344040;
    background-size: 10px 12px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    outline:none;
}
.form-date{
    padding: .3125rem 3rem .3125rem 1rem;
    background-position: right 1rem center;
    border-radius: .25rem;
    appearance: none;
    border: 1px solid #d8e2ef;
    color: #344040;
    background-size: 10px 12px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.075);
    outline:none;
    width:200px;
    margin-left:80px;
}
.gobutton{
    margin-left:-74px
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    border-bottom: 1px solid #DEDEDE;
  }
  
  td, th {
/*    border: 1px solid #060000;*/
    text-align: left;
    padding: 10px;
  }
  tr.border-bottom {
    border-bottom: 1px solid #ff000d;
  } 
  
  tr:nth-child(even) {
  }
  .button-booked {
    background-color: #4CAF50;
    border: none;
    color: #caf4cf;
    padding: -2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
  
.buttonbooked1 {
    background-color: #caf4cf;
    color: black;
    border: 2px solid #4CAF50;
}
.button-deleted {
    background-color: #e7d7cf;
    border: none;
    color: #f2d7c9;
    padding: -2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
  
.buttondeleted1 {
    background-color: #f8b3b3;
    color: black;
    border: 2px solid #d60303;
}
.button-finished {
    background-color: #b2afe8;
    border: none;
    color: #b2afe8;
    padding: -2px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
  
.buttonfinished1 {
    background-color: #b2afe8;
    color: black;
    border: 2px solid #333ac2;
}

.drones_list.booking_catalog .card-subtitle{
    text-align: left;
}

.dronedisplay {
    overflow: auto;

}